.tips_content1{
    height: 15rem;
    ion-img{
        width: 9rem;
        margin: 3.4rem auto 0;
    }
}
.tips_content2{
    
}
.tips_text{
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: center;
}