<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Account Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none" class="tips_content1">
      <ion-img [src]="img"></ion-img>
    </ion-item>
    <ion-item lines="none" class="tips_content2">
      <ion-text color="dark" class="tips_text">
        Your have successfully changed the password.
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-button class="block_btn" [routerLink]="['/login']">
        Home
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
