.regis2_title{
    font-size: 1.6rem;
    text-align: center;
    color: #3663AD;
    height: 6rem;
    padding: 1.5rem;
    font-weight: bold;
}
.regis2_text{
    font-size: 1.4rem;
    margin-top: 1.5rem;
}