<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-text color="primary" class="regis2_title">
        First Time Registration for MyZurich GI eServices
      </ion-text>
    </ion-item>
    <ion-img src="../assets/icon/register_banner2x.png"></ion-img>
    <ion-item lines="none">
      <ion-text color="dark" class="regis2_text">
        There are three steps required for account registration. The 1st step has completed. Next, you will be receiving a personal account activation link via your email which is valid for 72 hours. Please follow the instructions stated in the email to activate your GI Customer e-Service account.
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
