<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-text color="primary" class="login_title">
        Please enter below information in order to rest password.
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-input required placeholder="ID no./Passport no." class="gray_input" [(ngModel)]="userId.no"></ion-input>
    </ion-item>
    <ion-item lines="none" class="login_checkbox_label">
        <ion-label>To show the ID no./Passport no.</ion-label>
        <ion-checkbox mode="md" slot="start" class="login_checkbox"></ion-checkbox>
    </ion-item>
    <ion-item lines="none">
      <ion-text color="dark" class="login_text">
        For security reason, the password reset link will be sent to you either by SMS or email.
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <div class="login_radio"><input type="radio" name="email" value="SMS" [(ngModel)]="userId.emailType">By SMS</div>
      <div class="login_radio"><input type="radio" name="email" value="Email" [(ngModel)]="userId.emailType">By Email</div>     
    </ion-item>
    <ion-item lines="none">
      <ion-input required placeholder="Enter your mobile number" class="gray_input" [(ngModel)]="userId.mobileNumber"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-button class="block_btn" [routerLink]="['/tips']" [queryParams]="userId">
        Next
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
