.regis3_content1{
    margin-top: 1.5rem;
}
.regis3_content2{
    margin-top: 1.8rem;
}
.regis3_content3{
    margin-top: 2.5rem;
}
.regis3_content4{
    margin-top: 2.5rem;
}
.regis3_content5{
    
}